html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.App {
    background-color: #f1f3fe;
    padding: 20px;
    height: 100vh;
}

.preview-wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 500px 1fr;
    align-items: center;
    justify-items: center;
    padding: 20px;
}

.preview-form {
    width: 100%;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-gap: 40px 40px;
    padding: 30px;
}

.phone-wrapper {
    height: 602px;
    width: 300px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
}

.preview-screen {
    height: 479px;
    width: 280px;
    position: absolute;
    top: 53px;
    left: 10px;
    border-radius: 3px;
    overflow: hidden;
}

.step {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #7e97fa;
    color: #f1f3fe;
    font-size: 20px;
    font-weight: 600;
}

.delete-media {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: #ff2b56;
  font-size: 18px;
  color: #f1f3fe;
  cursor: pointer;
  z-index: 10;
}